################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Create2025_OefeningGit.slnx/v18/.wsuo
/.vs/Create2025_OefeningGit.slnx/v18/DocumentLayout.json
/.vs/VSWorkspaceState.json
/.gitignore
